/* UTILITY */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.aa-fl{
  float: left;
}
.aa-fr{
  float: right;
}
.aa-flex{
  display: flex;
  flex-wrap: wrap;
}

/* CONTENITORI */
.aa-wrapper{
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.aa-sidebar-inner{
  width: 15%;
  height: calc(100% - 90px);
  border: 1px solid #000;
  background-color: #f00;
  overflow-y: hidden;
}
.aa-content{
  width: 85%;
  height: calc(100% - 90px);
  border: 1px solid #000;
  background-color: #0f0;
}
.aa-player{
  width: 100%;
  height: 90px;
  border: 1px solid #000;
  background-color: #00f;
  position: fixed;
  bottom: 0;
}
/* SIDEBAR */
.aa-ex{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #000;
  background: #bbb;
}
.aa-ex2{
  width: 90%;
  height: 70px;
  margin: 0 auto;
  border: 1px solid #000;
  background: #ccc;
  align-self: flex-end;
}
.aa-logo{
  width: 90%;
  border: 1px solid #000;
  background: #f00;
  margin: 0 auto;
}
.aa-list{
  width: 90%;
  margin: 0 auto;
  background: #00f;
  border: 1px solid #000;
  overflow-y: auto;
  align-self: flex-end;
}
ul{
  list-style: none;
}
/* CONTENT */
.aa-fixed-bar{
  width: 100%;
  height: 60px;
  border: 1px solid #000;
  background: #aaa;
}
.aa-upgrade{
  width: 200px;
  height: 45px;
  background-color: #f00;
  border: 1px solid #000;
  position: fixed;
  z-index: 1;
  right: 0;
}
.aa-song-container{
  overflow-y: auto;
}
.aa-row{
  border: 1px solid #000;
  background-color: #f0f;
}
.aa-box{
  height: 150px;
  width: 150px;
  background: #ccc;
  margin: 20px 0 20px 20px;
}
